.cardsList{
    display: flex;
    flex-wrap: wrap;
}
.cardsList {
    margin: 10px 0;
    font-size: 1.5rem;
    color: white;
}
.userCard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
    margin-top: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    flex: 0 0 33.333333%;
}

@media (max-width: 800px) {
    .userCard {flex: 0 0 50%;}
}

@media (max-width: 400px) {
    .userCard {flex: 0 0 100%;}
}

.newUserCard{
    margin-top: 20px;
    text-align: center;
}

.newUserItem{
    position: relative;
    color: white;
    background-color: #282c34;
    display: inline-block;
    height: 200px;
    width: 200px;
}

.newUserItem:hover{
    color: #3f51b5;
}
.userCard:hover{
    color: #3f51b5;
}
.newUserItem::after{
    font-size: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    content: "+";
}

.MuiDialogActions{
    display: flex;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
}
.form p{
    margin-top: 10px;
}